<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controlador.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstalacionController</servlet-name>
        <servlet-class>controlador.InstalacionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParqueController</servlet-name>
        <servlet-class>controlador.ParqueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpalmeController</servlet-name>
        <servlet-class>controlador.EmpalmeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemarcadorController</servlet-name>
        <servlet-class>controlador.RemarcadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>controlador.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TarifaController</servlet-name>
        <servlet-class>controlador.TarifaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstalacionController</servlet-name>
        <url-pattern>/InstalacionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParqueController</servlet-name>
        <url-pattern>/ParqueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpalmeController</servlet-name>
        <url-pattern>/EmpalmeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemarcadorController</servlet-name>
        <url-pattern>/RemarcadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TarifaController</servlet-name>
        <url-pattern>/TarifaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
