<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controlador.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstalacionController</servlet-name>
        <servlet-class>controlador.InstalacionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParqueController</servlet-name>
        <servlet-class>controlador.ParqueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpalmeController</servlet-name>
        <servlet-class>controlador.EmpalmeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemarcadorController</servlet-name>
        <servlet-class>controlador.RemarcadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>controlador.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TarifaController</servlet-name>
        <servlet-class>controlador.TarifaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteRemarcadorController</servlet-name>
        <servlet-class>controlador.ClienteRemarcadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesController</servlet-name>
        <servlet-class>controlador.ReportesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoletaController</servlet-name>
        <servlet-class>controlador.BoletaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametrosController</servlet-name>
        <servlet-class>controlador.ParametrosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedController</servlet-name>
        <servlet-class>controlador.RedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileController</servlet-name>
        <servlet-class>controlador.FileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactoController</servlet-name>
        <servlet-class>controlador.ContactoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventosController</servlet-name>
        <servlet-class>controlador.EventosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestinatarioController</servlet-name>
        <servlet-class>controlador.DestinatarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstalacionController</servlet-name>
        <url-pattern>/InstalacionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParqueController</servlet-name>
        <url-pattern>/ParqueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpalmeController</servlet-name>
        <url-pattern>/EmpalmeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemarcadorController</servlet-name>
        <url-pattern>/RemarcadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TarifaController</servlet-name>
        <url-pattern>/TarifaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteRemarcadorController</servlet-name>
        <url-pattern>/ClienteRemarcadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesController</servlet-name>
        <url-pattern>/ReportesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoletaController</servlet-name>
        <url-pattern>/BoletaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametrosController</servlet-name>
        <url-pattern>/ParametrosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedController</servlet-name>
        <url-pattern>/RedController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileController</servlet-name>
        <url-pattern>/FileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactoController</servlet-name>
        <url-pattern>/ContactoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventosController</servlet-name>
        <url-pattern>/EventosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestinatarioController</servlet-name>
        <url-pattern>/DestinatarioController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
